<div class="row">
    <div class="col-sm">
        <div class="welcome-admin">
            <p>Bienvenido Administrador !</p>
        </div>
        <div id="adminSuccess" class="alert alert-warning" role="alert">
            <i class="fas fa-exclamation-circle"></i> Recuerde dar aviso a la oficina de sistemas ante cualquier
            incoveniente que ocurra manipulando datos.
        </div>
    </div>

</div>