<div class="row">
    <div class="col-sm" id="authority-list">
        
            <div class="authority-names">
                <i class="fas fa-user-md" style="color: rgb(90, 86, 86); width:6; height:6;"></i>Dra. Liliana Favaloro
            </div>
            <div class="rol-authority">
               - Presidente  
            </div>
            <div class="authority-names">
                <i class="fas fa-user-md" style="color: rgb(90, 86, 86); width:6; height:6;"></i>Dr. Roberto Favaloro
            </div>
            <div class="rol-authority">
               - Presidente Honorario  
            </div>
            <div class="authority-names">
                <i class="fas fa-user-md" style="color: rgb(90, 86, 86); width:6; height:6;"></i>Dr. Hector Raffaelli
            <div class="rol-authority">
                - Tesorero
            </div>
            <div class="authority-names">
                <i class="fas fa-user-md" style="color: rgb(90, 86, 86); width:6; height:6;"></i>Dr. Oscar Mendiz
            </div>
            <div class="rol-authority">
                - Secretario
            </div>
            <div class="authority-names">
                <i class="fas fa-user-md" style="color: rgb(90, 86, 86); width:6; height:6;"></i>Dr. Matias Fosco
            </div>
            <div class="rol-authority">
                - Director Médico
            </div>
            <div class="authority-names">
                <i class="fas fa-user-md" style="color: rgb(90, 86, 86); width:6; height:6;"></i>Dra. Laura Favaloro
            </div>
            <div class="rol-authority">
               - Dirección Ejecutiva
            </div>
        
    </div>


    <div class="col-sm">
        <img style="width: 500px;" src="~/Imagenes/medicos-autoridades.jpg">
    </div>
</div>
