
<div class="row">
    <div class="col" id="NuestraHistoria">
        <div class="history-text">
            <h2 class="title">Historia</h2>
            <span>
                El Sanatorio Favaloro para la Docencia y la Investigación Médica se creó en 1975, cuatro años después
                del regreso de René G. Favaloro de Estados Unidos.
                Favaloro había trabajado la última década en la Cleveland Clinic de Ohio, donde desarrolló la
                contribución
                fundamental de su carrera: la cirugía del bypass aortoroconario o de revascularización miocárdica, un
                hito en la historia de la
                enfermedad coronaria.
                <br></br>
                En 1971, después de rechazar innumerables ofertas para trabajar en ese país, había decidido volver a
                la Argentina con el propósito de organizar en Buenos Aires un centro de excelencia en cirugía
                cardiovascular que combinara la asistencia médica
                con la docencia y la investigación, de acuerdo con los lineamientos de la Cleveland Clinic..
                Durante varios años, Favaloro financió con sus propios recursos la mayor parte de los gastos. En
                1980 se creó el Departamento de Docencia e Investigación de la Fundación Favaloro a cargo de Pichel.
                Ese año, con la colaboración del Departamento de Órganos Artificiales de la Universidad de Utah
                -a cargo de Willem Kolff-, se implantó en la Fundación Favaloro el primer corazón artificial en un
                ternero.
                Entre 1980 y 1982 se implantarían 16 corazones artificiales en terneros.
                <br></br>
                La filosofía de su Facultad de Ciencias Médicas está expresada en su credo:

                - Asistir sin investigar es condenar al paciente a una medicina inmovilizada en el tiempo;
                - Pero investigar sin el rigor científico garantizado por el ejercicio de las ciencias básicas, no
                siempre es investigar,
                sino emprender aventuras sin ideas directrices y muchas veces incompatibles con la ética;
                - Pero investigar sin educar, no sólo traiciona la esencia del acto creador sino que priva a las
                generaciones futuras de la riqueza invalorable de descubrir su propio potencial creativo;
                - Pero educar sin comprometer a quien se educa con la realidad social de su tiempo tampoco es educar,
                sino entrenar profesionales diestros, cuyas destrezas de poco han de servirle si a causa de su miopía
                social no puede ponerlas al servicio de quienes más las necesitan.
            </span>
        </div>
        <div class="col">
            <img src="~/Imagenes/centro_edificio_central1.jpg">
        </div>

    </div>