
    
    <div class="title-page" align= "center">
        <h2><b><u>Bienvenido</u></b></h2>
    </div>

    <div class="alert alert-success" role="alert">
        Te Logueaste con éxito. 
           </div>
