<div class="row">
  <div class="col-sm">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="~/Imagenes/Ecocardiografia.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecocardiografía y Doppler Vascular</h5>
            <p class="card-text">
            <div><i class="far fa-check-circle"></i> Ecocardiograma Doppler Color Transtorácico</div>
            <div><i class="far fa-check-circle"></i> Ecocardiograma Transesofágico</div>
            <div><i class="far fa-check-circle"></i> Eco-estrés con Ejercicio</div>
            <div><i class="far fa-check-circle"></i> Eco-estrés Farmacológico</div>
            <div><i class="far fa-check-circle"></i> Estudios de Doppler Vascular</div>
            </p>
            <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. Eduardo Guevara</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="~/Imagenes/ecografia.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ecografía</h5>
            <p class="card-text">
            <div><i class="far fa-check-circle"></i> Ecografía Doppler de Arterias Renales</div>
            <div><i class="far fa-check-circle"></i> Ecografía Abdominal</div>
            <div><i class="far fa-check-circle"></i> Ecografía de Vasos de Cuello</div>
            <div><i class="far fa-check-circle"></i> Ecografía Intervencionista</div>
            <div><i class="far fa-check-circle"></i> Ecografía Tiroidea</div>
            </p>
            <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. Daniel Alvarez</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="~/Imagenes/laboratorio.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Laboratorio de Analisis Clínicos</h5>
            <p class="card-text">
            <div>Areas Operativas:</div>
            <div><i class="far fa-check-circle"></i> Hematología</div>
            <div><i class="far fa-check-circle"></i> Hemostasia</div>
            <div><i class="far fa-check-circle"></i> Microbiología</div>
            <div><i class="far fa-check-circle"></i> Bioquímica Clínica</div>
            <div><i class="far fa-check-circle"></i> Serología</div>
            <div><i class="far fa-check-circle"></i> Virología</div>
            <div><i class="far fa-check-circle"></i> Endocrinología</div>
            </p>
            <p class="card-text"><small class="text-muted">Jefe de servicio: Bioq. Daniel Pirola</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="~/Imagenes/medicina-nuclear.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Medicina Nuclear</h5>
            <p class="card-text">
            <div><i class="far fa-check-circle"></i> Whole Body (centellograma óseo)</div>
            <div><i class="far fa-check-circle"></i> Cámara Gamma</div>
            <div><i class="far fa-check-circle"></i> Centellograma Pulmonar</div>
            <div><i class="far fa-check-circle"></i> Centellograma de Tiroides</div>
            <div><i class="far fa-check-circle"></i> Flebografía</div>
            <div><i class="far fa-check-circle"></i> Spect Perfusión Miocárdica reposo y esfuerzo con o sin gatillado
            </div>
            </p>
            <p class="card-text"><small class="text-muted">Jefe de servicio: Dra. Claudia Cortés</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="~/Imagenes/ergometria.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Estudios Cardiológicos en Consultorios Externos</h5>
            <p class="card-text">
            <div><i class="far fa-check-circle"></i> Electrocardiograma</div>
            <div><i class="far fa-check-circle"></i> Ergometría</div>
            <div><i class="far fa-check-circle"></i> Electrocardiograma Holter de 2 Canales</div>
            <div><i class="far fa-check-circle"></i> Presurometría (M.A.P.A.)</div>
            </p>
            <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. Néstor O. Galizio</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="~/Imagenes/neurologia.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Estudios Neurológicos en Consultorios Externos</h5>
            <p class="card-text">
            <div><i class="far fa-check-circle"></i> Electroencefalograma</div>
            <div><i class="far fa-check-circle"></i> Electromiograma</div>
            <div><i class="far fa-check-circle"></i> Potenciales Evocados</div>
            <div><i class="far fa-check-circle"></i> Electronistagmografía </div>
            </p>
            <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. Alfredo Thomson</small></p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm">

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="~/Imagenes/resonancia.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Resonancia Magnética</h5>
            <p class="card-text">
            <div><i class="far fa-check-circle"></i> Colangioresonancia</div>
            <div><i class="far fa-check-circle"></i> Punciones por Resonancia</div>
            <div><i class="far fa-check-circle"></i> Dinámica de LCR</div>
            <div><i class="far fa-check-circle"></i> Espectroscopía Multivoxel</div>
            <div><i class="far fa-check-circle"></i> Angiorresonancia 3D con gadolinio</div>
            <div><i class="far fa-check-circle"></i> RNM de Corazón</div>
            </p>
            <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. Mario Embón</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="~/Imagenes/tomografia.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Tomografía Computada Multicorte</h5>
            <p class="card-text">
            <div><i class="far fa-check-circle"></i> Coronariografia Multicorte</div>
            <div><i class="far fa-check-circle"></i> Score Calcico Coronario</div>
            <div><i class="far fa-check-circle"></i> Enterotomografía</div>
            <div><i class="far fa-check-circle"></i> Scan Dinámico</div>
            <div><i class="far fa-check-circle"></i> Angiografia Tomografia Coronaria no Invasiva</div>
            </p>
            <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. Mario Embón</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="~/Imagenes/radiologia.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Radiología Digital</h5>
            <p class="card-text">
            <div><i class="far fa-check-circle"></i> Artroneumografía</div>
            <div><i class="far fa-check-circle"></i> Radioscopia simple</div>
            <div><i class="far fa-check-circle"></i> Duodenografía Hipoténica</div>
            <div><i class="far fa-check-circle"></i> Fistucolangiografía</div>
            <div><i class="far fa-check-circle"></i> Radiculografía</div>
            <div><i class="far fa-check-circle"></i> Urograma Minutado o por Goteo</div>
            <div><i class="far fa-check-circle"></i> Radiografías General</div>
            </p>
            <p class="card-text"><small class="text-muted">Jefe de servicio: Dra. Adriana Martínez</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="~/Imagenes/hemodinamia.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Hemodinamia</h5>
            <p class="card-text">
            <div><i class="far fa-check-circle"></i> Angiografía Cerebral</div>
            <div><i class="far fa-check-circle"></i> Coronariografía / Ventriculografía</div>
            <div><i class="far fa-check-circle"></i> Angiografía Vasos de Cuello</div>
            <div><i class="far fa-check-circle"></i> Angiografía Pulmonar</div>
            <div><i class="far fa-check-circle"></i> Hemodinamia Intervencionista</div>
            </p>
            <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. José Luis González</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="~/Imagenes/trasplante.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Departamento de Trasplantes</h5>
            <p class="card-text">
            <div><i class="far fa-check-circle"></i> Trasplante Cardíaco
              <p class="card-text"><small class="text-muted">  Jefe de servicio: Dr. Alejandro Bertolotti</small></p>
            </div>
            <div><i class="far fa-check-circle"></i> Trasplante de Médula Ósea
              <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. Gregorio Jaimovich</small></p>
            </div>
            <div><i class="far fa-check-circle"></i> Trasplante Pulmonar
              <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. Alejandro Bertolotti</small></p>
            </div>
            <div><i class="far fa-check-circle"></i> Trasplante Hepático
              <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. Gabriel Gondolesi</small></p>
            </div>
            <div><i class="far fa-check-circle"></i> Trasplante Renal
              <p class="card-text"><small class="text-muted">Jefe de servicio: Dr. Pablo Raffaele</small></p>
            </div>
            <div><i class="far fa-check-circle"></i> Trasplante Renopancreático
              <p class="card-text"><small class="text-muted">Jefes de servicio: Dr. Pablo Raffaele (Director clínico)
                </br>
                                                                                Dr. Gabriel Gondolesi (Director quirúrgico)</small></p>
            </div>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
