@{
    bool error = ViewBag.Error != null;
}

@if (error)
{
    <div class="text.center">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><i class="far fa-times-circle"></i> Ocurrió un error !</h4>
            <div class="info-text">
                <p>No se pudo ingresar la Información, por favor corrobore que todos los campos esten correctos, si el
                    problema
                    persiste comuniquese con la oficina de sistemas. Gracias.</p>
            </div>
        </div>
        <a type="button" href=/Home/AgregarDatos class="btn btn-dark">Volver</a>
    </div>
}

@if (!error)
{
    <div class="text.center">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><i class="fas fa-check-circle"></i> Información ingresada correctamente.</h4>
            <div class="info-text">
                <p> @ViewBag.Info</p>
            </div>
        </div>
        <a type="button" href=/Home/AgregarDatos class="btn btn-dark">Volver</a>
        <a type="button" href=@ViewBag.URL class="btn btn-dark">Ir a @ViewBag.Boton</a>
    </div>
}
