<div class="text.center">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><i class="fas fa-check-circle"></i> Sus datos fueron modificados exitosamente.</h4>
        </div>
        <a type="button" href=/Home/MiPerfil class="btn btn-dark">Volver</a>
    </div>